<h2>Comments</h2>
<ul>
    <% comments.forEach(function(comment) { %>
        <li>
        	<div class="comment">

        		<p><%= comment.body %></p>
        		<a href="https://reddit.com/<%= comment.permalink %>/<%= comment.commentId %>">View on reddit</a>
        	</div>
        
        </li>
    <% }); %>
</ul>